## Loading and cleaning

In [17]:
import pandas as pd
from functools import reduce
import numpy as np
import re
import glob

In [18]:
files = [f for f in glob.glob("../repository/RAW/WGI*")]
dfs = []
for i, f in enumerate(files):
    _df = pd.read_csv(f, sep=";", decimal=",")
    ptrn = re.compile("\d{4}")
    join_dfs = []
    for k, d in _df.T.groupby(lambda x: re.search(ptrn, x).group() if re.search(ptrn, x) else None): # type: ignore
        country_code = _df.copy()
        country_code, country_code.columns = country_code[1:] , country_code.iloc[0]
        d = d.T
        d, d.columns = d[1:] , d.iloc[0]
        d['Year'] = k
        d = d.assign(**country_code[:, :3])
        join_dfs.append(d)
    # _df = reduce(lambda x, y: pd.concat([x, y]), join_dfs)
    dfs.append(_df)

InvalidIndexError: (slice(None, None, None), slice(None, 3, None))

In [ ]:
dfs[0].T

,1996,1996.1,1996.2,1996.3,1996.4,1996.5,1998,1998.1,1998.2,1998.3,...,2021.2,2021.3,2021.4,2021.5,2022,2022.1,2022.2,2022.3,2022.4,2022.5
0,Estimate,StdErr,NumSrc,Rank,Lower,Upper,Estimate,StdErr,NumSrc,Rank,...,NumSrc,Rank,Lower,Upper,Estimate,StdErr,NumSrc,Rank,Lower,Upper
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2,00","78,57","62,86","89,05","0,76","0,32","2,00","77,83","60,85","88,68"
2,"1,32","0,48","1,00","87,10","72,04","96,77","1,33","0,45","1,00","89,30",...,"1,00","88,57","70,00","96,67","1,27","0,46","1,00","88,68","68,40","97,17"
3,"-1,29","0,34","2,00","4,30","0,00","27,42","-1,18","0,32","2,00","8,02",...,"8,00","12,38","4,76","20,95","-1,18","0,17","8,00","12,26","4,72","20,28"
4,"-1,17","0,26","4,00","9,68","0,54","27,42","-1,18","0,23","4,00","7,49",...,"10,00","29,05","19,52","40,48","-0,60","0,16","10,00","30,66","21,23","43,40"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,"-1,14","0,26","4,00","11,83","0,54","29,03","-1,20","0,19","5,00","6,42",...,"9,00","35,71","26,19","48,10","-0,46","0,16","9,00","35,38","24,53","48,11"
211,"0,73","0,21","6,00","76,34","66,13","81,18","0,64","0,19","6,00","72,73",...,"11,00","53,81","46,19","60,00","-0,32","0,16","11,00","44,81","31,60","52,36"
212,"-1,65","0,32","3,00","0,00","0,00","12,37","-1,42","0,31","3,00","1,07",...,"11,00","4,29","0,00","6,67","-1,54","0,15","12,00","3,30","0,47","7,08"
213,"-0,84","0,26","4,00","24,73","5,91","41,40","-0,85","0,23","4,00","26,74",...,"12,00","25,71","17,62","33,81","-0,53","0,15","12,00","34,43","23,58","45,75"
214,"-0,28","0,24","5,00","47,85","30,65","60,75","-0,50","0,20","5,00","37,43",...,"12,00","10,00","4,29","17,62","-1,26","0,15","12,00","8,49","4,25","17,92"